body {
  background: #0081a7;
  color: #00afb9;
}

@keyframes shake-left {
  0% {
    transform: translate(0, 0) rotate(-90deg);
  }
  50% {
    transform: translate(0, 50%) rotate(-90deg);
  }
  100% {
    transform: translate(0, 0) rotate(-90deg);
  }
}

@keyframes shake-right {
  0% {
    transform: translate(0, 0) scale(-1, 1) rotate(-90deg);
  }
  50% {
    transform: translate(0, 50%) scale(-1, 1) rotate(-90deg);
  }
  100% {
    transform: translate(0, 0) scale(-1, 1) rotate(-90deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shake-left {
  transform: rotate(-90deg);
}

.shake-right {
  transform: scale(-1, 1) rotate(-90deg);
}
